<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет products -->
{% block title %}
Authors
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>All authors</h1>
<h3>Amount of authors: {{ authors|length }}</h3>
<hr>
    {% if authors %}
        <table align="center">
            <tr>
                <td>Name</td>
                <td>Rating</td>
            </tr>

            {% for author in authors %}
            <tr>
                <td>{{ author.authorUser.username }}</td>
                <td>{{ author.ratingAuthor }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Товаров нет!</h2>
    {% endif %}
{% endblock content %}