{% extends 'flatpages/default.html' %}

{% block title %}
Comments
{% endblock title %}

{% load custom_filters %}

{% block content %}
<h1>All comments</h1>
<h3>Amount of comments: {{ comments|length }}</h3>
<hr>
    {% if comments %}
        <table>
            <tr>
                <td>User</td>
                <td>Head</td>
                <td>Rating</td>
                <td>Time</td>
                <td>Preview</td>
            </tr>

            {% for comment in comments %}
            <tr>
                <td>{{ comment.user.username }}</td>
                <td>{{ comment.post.head|censor }}</td>
                <td>{{ comment.rating }}</td>
                <td>{{ comment.time_add|date:'d.m.Y' }}</td>
                <td>{{ comment.preview|censor }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Товаров нет!</h2>
    {% endif %}
{% endblock content %}